<tr>
  <td><%= user.full_name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone_number %></td>
  <td><%= user.total_hours %></td>
  <td class='user_rank'>
    <%= form_for user, url: admin_modify_user_path(user), remote: true do |f| %>
      <fieldset class="form-group">
        <%= f.select :rank, RANK_NAMES.each_with_index.map {|name, index| [name,index]}, { selected: user.rank }, { class: 'form-control' } %>
      </fieldset>
    <% end %>
  </td>
  <td class='user_deactivated'>
    <%= form_for user, url: admin_modify_user_path(user), remote: true do |f| %>
      <fieldset class="form-group">
        <%= f.check_box :deactivated, { class: 'form-control' } %>
      </fieldset>
    <% end %>
  </td>
</tr>